.font-white { color: $white; } 
.font-gray { color: $gray; } 
.font-blue { color: $blue; } 
.font-red { color: $red; } 
.font-yellow { color: $yellow; } 
.font-green { color: $green; } 
.font-gray { color: $gray; } 